
@using Antlr.Runtime.Misc;
@using SistemaCPP.Apresentacao.Views.ViewModel;

@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey) ? (List<Alert>)TempData[Alert.TempDataKey] : new ListStack<Alert>();

    foreach (var alert in alerts)
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;

        <div class="alert alert-@alert.AlertStyle @dismissableClass">

            @if (alert.Dismissable)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
            }
            else
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
            }

            @Html.Raw(alert.Message)
        </div>
    }
}
